#\#wrapper{
    position: relative;
    border: solid grey 1px;
    width: 100%;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}

header {
    background-color: grey;
    height: 130px;
    margin-right: 80px;
    margin-left: 5px; 
      
}

hgroup{
    position: absolute;
    left: 150px;
    color: red;
}
figure{
    position: absolute;
    left: 400px;
    top: 5px;
}

.contacts{
    position: absolute;
    right: 269px;
    top: 25.5px;
    width:350px;
    
}
.contact-type{
   background-color: red;
   color: white;
   margin-top: 0;
}

dt{
    width: 150px;
}
dd{
    width:350px;
    margin-left: 0px;

}
.contact-value{
    background-color:black;
    color: red;
}
dl{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 10px;
    margin: 8px;
}
h3::before{
    content: '\25cf';
    color: red;
    font-size: 40px;
}
h3{
    border-bottom: solid gray 1px;
}
#contact h3::before{
    content: none;
}
.content{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 45px 30px 100px;
}

#about{
    width: 45%;
}
#competencies{
    width: 45%;
    }
#experiences{
        width: 45%;
    }
 #education{
        width: 45%;
    }
 #hobbies{
    width: 45%;
    }
#about p{
        padding: 0px 15px 0px 0px;
    }
    #contact h3{
        display: none;
    }


.skills-primary::before{
    content: 'Main';
}
.skills-secondary::before{
    content: 'Other';
}
.skills{
    padding: 10px 0px 20px 0px;
}
.skill{
    position: relative;
    background-color:grey;
    border: solid 4px white;
    color: white;
}


.skill[data-skill="5"]::before{
    content: '';
    background-color: red;
    display: inline-block;
    height: 20px;
    width: 200px;
    margin: 4px 4px 4px 2px;
}
.skill[data-skill="3"]::before{
    content: '';
    background-color: red;
    display: inline-block;
    height: 20px;
    width: 130px;
    margin: 4px 4px 4px 2px;
}
.skill[data-skill="1"]::before{
    content: '';
    background-color: red;
    display: inline-block;
    height: 20px;
    width: 35px;
    margin: 4px 4px 4px 2px;
}



.skill[data-skill="9"]::before{
    content: '';
    background-color: rgb(255, 77, 77);
    display: inline-block;
    height: 20px;
    width: 290px;
    margin: 4px 4px 4px 2px;
}
.skills-secondary .skill[data-skill="5"]::before{
    content: '';
    background-color: rgb(255, 77, 77);
    display: inline-block;
    height: 20px;
    width: 200px;
    margin: 4px 4px 4px 2px;

}
.skill[data-skill="7"]::before{
    content: '';
    background-color: rgb(255, 77, 77);
    display: inline-block;
    height: 20px;
    width: 240px;
    margin: 4px 4px 4px 2px;
}



.skill span{
    color: white;
    position: absolute;
    top: 4px;
    left: 3px;
}
h4{
    color: red;
}
.experience-type::after{
    content: '@';
}

.experience-location::before{
    content: 'In';
}
.experience-date-separator{
    color:red;
}
.experience-date, .experience-location{
    color: grey;
}
.experience-institution{
    font-weight: 100;
    }

    
    .experience-details{
        margin-top: 0px;
    }

/*** Media Queries **********************************/
/*@media screen and (min-width:900px){*/

 @media (max-width: 700px) {

        .content {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          padding: 0 110px 0 110px;
          width: 500px;
          font-size: 14px;
          /*lign-items: center;*/
        }
      
        #about,
        #competencies,
        #experiences,
        #education,
        #hobbies {
          flex-basis: 100%;
        }

        #education,#hobbies{display: none;};
      
        header {
            padding-top: 20px;
            margin: 0 auto 0 auto;
            width: 300px;
            height: 470px;
        }
      
        hgroup {
            position: absolute;
            width: 40%;
            padding-bottom: 40px;
        }
      
        figure {
        position: absolute;
        left: 130px;
        top: 130px;
        }
      
        #contact {
          visibility: hidden;
        }

      }